.edit
  %h1 Edit Basic Ability Form
  .edit__index
    .edit__index__basic-ability
      %h2 基礎能力を編集しよう！
      = form_with model: @basics,local: true do |f|
        = f.text_field :name,class:"edit__index__basic-ability__form"
        = f.number_field :number,class:"edit__index__basic-ability__number"
        <br>
        = f.submit '決定！',class:"edit__index__basic-ability__btn"
 

  =link_to "戻る",user_path(current_user.id),method: :get,class:"back-link"