.howto-main
  .howto-main__notise
    %h1
      新しい
      <br>
      自己紹介のカタチ
    %h2
      自己紹介アプリ「Pawa-shoukai」では、項目名と数値を使って自分を可視化させることができます。
      <br>
      特殊能力を使ってさらなる個性を追加することも可能！
      <br>
      初期設定されている項目だけでなく、オリジナル項目を設定することもできます！
      <br>
      得意なこと、お茶目な側面をサクッっと！楽しく！アピールしてみませんか？
    = image_tag "sample1.png",size: "600x250", class: "howto-main__notise__first"
  .howto-main__img
    = image_tag "sample2.png",size: "600x250", class: "howto-main__img__second"