// Place all the styles related to the basics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.wrapper{
  display: flex;
  justify-content: left;
  width: 100%;
  min-width: 750px;
  min-height: 100vh;
  height: auto;
  margin-bottom: 30px;
  .side-bar{
    background-color: palegoldenrod;
    height: 100vh;
    width: 250px;
    font-size: 20px;
    padding-left: 10px;
    font-weight: bold;
    text-align: center;
      li{
        list-style:none;
        .list__basic{
          margin-left: 10px;
          font-size: 20px;
          text-decoration: none;
          color: blue;
          font-weight: bold;
        }
        .list__special{
          margin-left: 10px;
          font-size: 20px;
          text-decoration: none;
          color: blue;
          font-weight: bold;
        }
      }
  }
  .index{
    max-width: 800px;
    height: 130px;
    display: inline-block;
    &__ability{
      display: flex;
      height: 150px;
      max-width: 696px;
      &__name{
        width: 100px;
        height: 100px;
        margin-top: 10px;
        margin-left: 10px;
        border-radius: 5px;
        font-weight: bold;
        border:3px black solid;
        background-color: white;
        img{
          margin-top: -5px;
        }
      }
      &__number{
        margin-top: -45px;
        margin-left: 10px;
        font-weight: bold;
        font-size: 30px;
        text-shadow: 1px 1px 2px silver;
      }
      &__edit{
        padding-left: 10px;
      }
    }
  }
  .list__basic__edit{
    text-decoration: none;
  }
}
