.header{
  height: 60px;
  width: 1420px;
  // background-color: orange;
  display: flex;
  position: relative;
  padding: 0.2em 0.5em;
  background: -webkit-linear-gradient(to right, rgb(255, 124, 111), #ffc994);
  background: linear-gradient(to right, rgb(255, 124, 111), #ffc994);
  border-radius: 32px 0 0 0 ;
  font-weight: lighter;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.56);
  a{
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: black;
  }
  a::after {
    position: absolute;
    bottom: -8px;
    left: 0;
    content: '';
    width: 100%;
    height: 2px;
    background: yellow;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
  }
  a:hover::after {
    bottom: -4px;
    opacity: 1;
    visibility: visible;
  }

  &__title{
    display: flex;
    align-items: center;
    margin-left: 20px;
    font-size: 20px;
    &__new{
      margin-left: 20px;
    }
    &__new:hover{
      margin-left: 20px;
      font-weight: bold;
    }
    &__show{
      margin-left: 20px;
    }
    &__show:hover{
      margin-left: 20px;
      font-weight: bold;
    }
    &__index{
      margin-left: 20px;
    }
    &__index:hover{
      margin-left: 20px;
      font-weight: bold;
    }
    &__sign-out{
      margin-left: 20px;
    }
    &__sign-out:hover{
      margin-left: 20px;
      font-weight: bold;
    }
    &__sign-in{
      margin-left: 20px;
    }
    &__sign-in:hover{
      margin-left: 20px;
      font-weight: bold;
    }
    &__sign-up{
      margin-left: 20px;
    }
    &__sign-up:hover{
      margin-left: 20px;
      font-weight: bold;
    }
  }

}