// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user{
  width: 100%;
  min-height: 100vh;
  height: auto;
  padding-bottom: 50px;
  background-image: url("house.jpg");
  position: relative;
  z-index: 0;
  overflow: hidden;
  text-align: center;
  &__index{
    height: auto;
    width: 400px;
    margin: 5% auto 20px;
    padding-bottom: 20px;
    background-color:rgba(128,128,128,0.7);
    box-shadow: 1px 2px 2px 2px 1 white;
    h1{
      text-align: center;
      line-height: 60px;
      font-size: 20px;
      color: white;
      font-weight: bold;
      border-bottom: 1px solid black;
    }

    &__name{
      padding-left: 5px;
      display: flex;
      justify-content: left;
      align-items: center;
      margin: 0 auto;
      width: 300px;
      height: 40px;
      margin-top: 20px;
      background-color: white;
      border: 2px black solid;
      i{
        padding-right: 5px;
      }
      &__form{
        width: 300px;
        border: none;
        outline: none;
      }
    }
    &__image{
      padding-left: 5px;
      position: relative;
      display: flex;
      justify-content: left;
      align-items: center;
      margin: 0 auto;
      width: 300px;
      height: 40px;
      margin-top: 10px;
      background-color: white;
      border: 2px black solid;
      i{
        padding-right: 5px;
      }
      &__form{
        width: 300px;
        border: none;
        outline: none;
      }
    }
    &__view{
      color: white;
      h3{
        margin-top: 10px;
        font-size: 16px;
      }
      &__arrow{
      }
    }
    &__btn{
      margin-top: 20px;
    }

  }

  &__back{
    display: inline-block;
    text-decoration: none;
    text-align: center;
    padding: 2px 5px;
    font-size: 16px;
    background: red;/*ボタン色*/
    color: #FFF;
    border-bottom: solid 4px #627295;
    border-radius: 3px;
  }
  &__back:active{
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    border-bottom: none;/*線を消す*/
  }
}
.user:before{
  content: '';
  background: inherit;/*.bgImageで設定した背景画像を継承する*/
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  position: absolute;
  /*ブラー効果で画像の端がボヤけた分だけ位置を調整*/
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
}


.img{
  // position: absolute;
  display: inline-block;
  margin-top: 10px;
  width: 200px;
  height: 200px;
}



